pipeline/PL_DB_GIT_until_variable.json
{
	"name": "PL_DB_GIT_until_variable",
	"properties": {
		"activities": [
			{
				"name": "Until_File_Exists",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('File_Exists_Storage')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get_Files_Storage",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_ADLF_Binary",
									"type": "DatasetReference"
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get_Files_Storage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('Get_Files_Storage').output.exists",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy_AllFiles_To_Parqueet",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Set_Pipeline_File_Exist",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"wildcardFolderPath": "allfiles",
													"deleteFilesAfterCompletion": false
												},
												"formatSettings": {
													"type": "BinaryReadSettings"
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings",
													"copyBehavior": "FlattenHierarchy"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "DS_ADLF_Binary",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "DS_ADLF_Binary_Sink",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "Set_Pipeline_File_Exist",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "File_Exists_Storage",
											"value": true
										}
									}
								]
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"variables": {
			"File_Exists_Storage": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-04-19T09:57:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}