pipeline/PL_DB_Git.json
{
	"name": "PL_DB_Git",
	"properties": {
		"activities": [
			{
				"name": "AC_COPY_CSV_PARQUEET",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "csv-text",
							"wildcardFileName": "*",
							"deleteFilesAfterCompletion": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_ADLF_Binary",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLF_Binary_Sink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "CP_SQL_Server",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "StoredProcedure_My_Local_Success",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQL_Server_My_Local",
						"type": "DatasetReference",
						"parameters": {
							"schema": {
								"value": "@pipeline().parameters.schema",
								"type": "Expression"
							},
							"tablename": {
								"value": "@pipeline().parameters.tablename",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLF_CSV",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Delete_Files_SA",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "CP_SQL_Server",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLF_CSV",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "ADLS_Industry_adlsadfgitdatabricks_adfsource",
							"type": "LinkedServiceReference"
						},
						"path": "adfsource/delete-logging"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": "*",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "StoredProcedure_My_Local_Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "AC_COPY_CSV_PARQUEET",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "dbo.InsertDeleteActivityFiles",
					"storedProcedureParameters": {
						"filesdeleted": {
							"value": {
								"value": "@activity('AC_COPY_CSV_PARQUEET').output.filesWritten",
								"type": "Expression"
							},
							"type": "Int16"
						},
						"folderpath": {
							"value": {
								"value": "@pipeline().parameters.tablename",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_SH_IR",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "StoredProcedure_My_Local_Failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "AC_COPY_CSV_PARQUEET",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_InsertLoadStatus]",
					"storedProcedureParameters": {
						"dataread": {
							"value": {
								"value": "@activity('AC_COPY_CSV_PARQUEET').output.dataRead",
								"type": "Expression"
							},
							"type": "String"
						},
						"errorid": {
							"value": {
								"value": "@activity('AC_COPY_CSV_PARQUEET').output.errors[0].Code",
								"type": "Expression"
							},
							"type": "String"
						},
						"errormessage": {
							"value": {
								"value": "@activity('AC_COPY_CSV_PARQUEET').output.errors[0].Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"loadstatus": {
							"value": {
								"value": "@activity('AC_COPY_CSV_PARQUEET').output.executionDetails[0].status",
								"type": "Expression"
							},
							"type": "String"
						},
						"tablename": {
							"value": {
								"value": "@concat(pipeline().parameters.schema,'.',pipeline().parameters.tablename)",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_SH_IR",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get_All_Files",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Delete_Files_SA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLF_Binary",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Read_SQL Server Table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get_All_Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from [dbo].[Lookup_Table_File] where filename =''', activity('Get_All_Files').output.childItems[2].name,'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_Server_My_Local",
						"type": "DatasetReference",
						"parameters": {
							"schema": {
								"value": "@pipeline().parameters.schema",
								"type": "Expression"
							},
							"tablename": {
								"value": "Lookup_Table_File",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"schema": {
				"type": "string"
			},
			"tablename": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-04-19T07:08:14Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}