pipeline/PL_Get_Metadata_Files.json
{
	"name": "PL_Get_Metadata_Files",
	"properties": {
		"activities": [
			{
				"name": "Get_All_Files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLF_Binary",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Execute_Switch_Case",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Get_All_Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_Switch_Case__Inside_Foreach_Activity",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"childItem": {
							"value": "@activity('Get_All_Files').output.childItems",
							"type": "Expression"
						}
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-04-19T10:40:14Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}